$gapCollectionPC: 30px;
$widhtCollectionPC: 360px;
$widthBlock4: $widhtCollectionPC * 3 + $gapCollectionPC * 2;

$gapCollectionTB: 18px;
$widhtCollectionTB: 231px;

$widthBlock4TB: $widhtCollectionTB * 3 + $gapCollectionTB * 3;
